<a href="https://colab.research.google.com/github/Naralahari/dwm-/blob/main/Classification_models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB

from sklearn.model_selection import train_test_split
from sklearn import metrics

In [ ]:
data=pd.read_csv("students_placement_data.csv")
data.head()

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,registered_for_ Placement_Training,placement status
0,1,M,A,87.3,65.3,40.00,18,NO,Not placed
1,2,F,A,89.0,92.4,71.45,0,yes,Placed
2,3,F,A,67.0,68.0,45.26,13,yes,Not placed
3,4,M,A,71.0,70.4,36.47,17,yes,Not placed
4,5,M,A,NaN,65.5,42.52,17,yes,Not placed

In [ ]:
data["SSC Percentage"]=data["SSC Percentage"].replace(to_replace=np.nan,value=data["SSC Percentage"].mean())  
data.head()

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,registered_for_ Placement_Training,placement status
0,1,M,A,87.300000,65.3,40.00,18,NO,Not placed
1,2,F,A,89.000000,92.4,71.45,0,yes,Placed
2,3,F,A,67.000000,68.0,45.26,13,yes,Not placed
3,4,M,A,71.000000,70.4,36.47,17,yes,Not placed
4,5,M,A,80.474569,65.5,42.52,17,yes,Not placed

In [ ]:
data["registered_for_ Placement_Training"]=data["registered_for_ Placement_Training"].replace(to_replace=np.nan,value=data["registered_for_ Placement_Training"].mode()[0])  
data.head()

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,registered_for_ Placement_Training,placement status
0,1,M,A,87.300000,65.3,40.00,18,NO,Not placed
1,2,F,A,89.000000,92.4,71.45,0,yes,Placed
2,3,F,A,67.000000,68.0,45.26,13,yes,Not placed
3,4,M,A,71.000000,70.4,36.47,17,yes,Not placed
4,5,M,A,80.474569,65.5,42.52,17,yes,Not placed

In [ ]:
data.isna().any()

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                        False
inter_Diploma_percentage              False
B.Tech_percentage                     False
Backlogs                              False
registered_for_ Placement_Training    False
placement status                      False
dtype: bool

In [ ]:
data['Gender'] = data['Gender'].map({'M': 0, 'F': 1})
data['Section']=data['Section'].map({'A':0,'B':1})
data['registered_for_ Placement_Training']=data['registered_for_ Placement_Training'].map({'NO':0,'yes':1})

In [ ]:
data.head()

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,registered_for_ Placement_Training,placement status
0,1,0,0,87.300000,65.3,40.00,18,0,Not placed
1,2,1,0,89.000000,92.4,71.45,0,1,Placed
2,3,1,0,67.000000,68.0,45.26,13,1,Not placed
3,4,0,0,71.000000,70.4,36.47,17,1,Not placed
4,5,0,0,80.474569,65.5,42.52,17,1,Not placed

In [ ]:

X=data[["Gender","Section","SSC Percentage","inter_Diploma_percentage","B.Tech_percentage","Backlogs","registered_for_ Placement_Training"]].values

In [ ]:

y=data["placement status"]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

In [ ]:
print (" The shape of original feature set is : ",X.shape)
print("The shape of original class labels is", y.shape)
print(" The shape of Features in training data",X_train.shape)
print("The shape of class labels in training data",y_train.shape)
print(" The shape of Features in test data",X_test.shape)
print("The shape of class labels in test data",y_test.shape)

 The shape of original feature set is :  (117, 7)
The shape of original class labels is (117,)
 The shape of Features in training data (93, 7)
The shape of class labels in training data (93,)
 The shape of Features in test data (24, 7)
The shape of class labels in test data (24,)

In [ ]:
model_DT = DecisionTreeClassifier() 
model_DT = model_DT.fit(X_train,y_train)
y_predict_DT = model_DT.predict(X_test)

In [ ]:
Actual_predicted_DT=pd.DataFrame({'predicted':y_predict_DT, 'Actual':y_test})
Actual_predicted_DT.head()

     predicted      Actual
45  Not placed      Placed
95  Not placed  Not placed
56  Not placed  Not placed
84  Not placed      Placed
98      Placed      Placed

In [ ]:
model = KNeighborsClassifier(n_neighbors=3)
model = model.fit(X_train,y_train)
y_predict_knn = model.predict(X_test)

In [ ]:
Actual_predicted_knn=pd.DataFrame({'predicted':y_predict_knn, 'Actual':y_test})
Actual_predicted_knn.head()

     predicted      Actual
45      Placed      Placed
95  Not placed  Not placed
56  Not placed  Not placed
84  Not placed      Placed
98      Placed      Placed

In [ ]:
from sklearn.metrics import confusion_matrix

pd.DataFrame(
    confusion_matrix(y_test, y_predict_knn),
    columns=['Not placed Predicted', 'placed predicted'],
    index=['Not placed', 'placed']
)

            Not placed Predicted  placed predicted
Not placed                    12                 2
placed                         3                 7

In [ ]:
print("Accuracy of K nearest Neighbour is" ,metrics.accuracy_score(y_test, y_predict_knn)*100)
print("Recall of K nearest Neighbour is",metrics.recall_score(y_test, y_predict_knn, pos_label="Placed"))
print("Precision of K nearest Neighbour is",metrics.precision_score(y_test, y_predict_knn, pos_label="Placed"))
print("f1_score of K nearest Neighbour is",metrics.f1_score(y_test, y_predict_knn, pos_label="Placed"))

Accuracy of K nearest Neighbour is 79.16666666666666
Recall of K nearest Neighbour is 0.7
Precision of K nearest Neighbour is 0.7777777777777778
f1_score of K nearest Neighbour is 0.7368421052631577

In [ ]:
model = LogisticRegression(max_iter=2000)
model = model.fit(X_train,y_train)
y_predict_lr = model.predict(X_test)

In [ ]:
Actual_predicted=pd.DataFrame({'predicted':y_predict_lr, 'Actual':y_test})
Actual_predicted.head()

     predicted      Actual
45      Placed      Placed
95  Not placed  Not placed
56  Not placed  Not placed
84  Not placed      Placed
98      Placed      Placed

In [ ]:
from sklearn.metrics import confusion_matrix

pd.DataFrame(
    confusion_matrix(y_test, y_predict_lr),
    columns=['Not placed Predicted', 'placed predicted'],
    index=['Not placed', 'placed']
)

            Not placed Predicted  placed predicted
Not placed                    12                 2
placed                         0                10

In [ ]:
print("Accuracy of Logistic Regresssion is " ,metrics.accuracy_score(y_test, y_predict_lr)*100)
print("recall of Logistic Regresssion is",metrics.recall_score(y_test, y_predict_lr, pos_label="Placed"))
print("Precision of Logistic Regresssion is",metrics.precision_score(y_test, y_predict_lr, pos_label="Placed"))
print("f1_score of Logistic Regresssion is",metrics.f1_score(y_test, y_predict_lr, pos_label="Placed"))

Accuracy of Logistic Regresssion is  91.66666666666666
recall of Logistic Regresssion is 1.0
Precision of Logistic Regresssion is 0.8333333333333334
f1_score of Logistic Regresssion is 0.9090909090909091

In [ ]:
model = SVC()
model = model.fit(X_train,y_train)
y_predict_svc = model.predict(X_test)

In [ ]:
Actual_predicted=pd.DataFrame({'predicted':y_predict_svc, 'Actual':y_test})
Actual_predicted.head()

     predicted      Actual
45  Not placed      Placed
95  Not placed  Not placed
56  Not placed  Not placed
84  Not placed      Placed
98      Placed      Placed

In [ ]:
from sklearn.metrics import confusion_matrix

pd.DataFrame(
    confusion_matrix(y_test, y_predict_svc),
    columns=['Not placed Predicted', 'placed predicted'],
    index=['Not placed', 'placed']
)

            Not placed Predicted  placed predicted
Not placed                    14                 0
placed                         6                 4

In [ ]:
print("Accuracy of Support Vector Machine is " ,metrics.accuracy_score(y_test, y_predict_svc)*100)
print("recall of Support Vector Machine is",metrics.recall_score(y_test, y_predict_svc, pos_label="Placed"))
print("Precision of Support Vector Machine is",metrics.precision_score(y_test, y_predict_svc, pos_label="Placed"))
print("f1_score of Support Vector Machine is",metrics.f1_score(y_test, y_predict_svc, pos_label="Placed"))

Accuracy of Support Vector Machine is  75.0
recall of Support Vector Machine is 0.4
Precision of Support Vector Machine is 1.0
f1_score of Support Vector Machine is 0.5714285714285715

In [ ]:
model = GaussianNB()
model = model.fit(X_train,y_train)
y_predict_nb = model.predict(X_test)

In [ ]:
Actual_predicted=pd.DataFrame({'predicted':y_predict_svc, 'Actual':y_test})
Actual_predicted.head()

     predicted      Actual
45  Not placed      Placed
95  Not placed  Not placed
56  Not placed  Not placed
84  Not placed      Placed
98      Placed      Placed

In [ ]:
from sklearn.metrics import confusion_matrix

pd.DataFrame(
    confusion_matrix(y_test, y_predict_svc),
    columns=['Not placed Predicted', 'placed predicted'],
    index=['Not placed', 'placed']
)

            Not placed Predicted  placed predicted
Not placed                    14                 0
placed                         6                 4

In [ ]:
print("Accuracy of Naive bayes is " ,metrics.accuracy_score(y_test, y_predict_svc)*100)
print("recall of Naive bayes is",metrics.recall_score(y_test, y_predict_svc, pos_label="Placed"))
print("Precision of Naive bayes is",metrics.precision_score(y_test, y_predict_svc, pos_label="Placed"))
print("f1_score of Naive is",metrics.f1_score(y_test, y_predict_svc, pos_label="Placed"))

Accuracy of Naive bayes is  75.0
recall of Naive bayes is 0.4
Precision of Naive bayes is 1.0
f1_score of Naive is 0.5714285714285715